{% extends 'GoogleAnalyticsApiBundle::base.html.twig' %}
{% block main %}
<h1>Upload File</h1>

<form action="" method="post" enctype="mutipart/form-data">
  	<input type="file" name="client_json" />
    <input type="submit" value="Upload Document" />
</form>
{% endblock %}